<!DOCTYPE html>
<html>
  <head>
    <title>ImmersiveRailsAssessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if logged_in? %>
      <%= link_to "All Guests", guests_path %>
      <%= link_to "All Episodes", episodes_path %>
      <%= link_to "Add Appearance", new_appearance_path %>
    <% end %>


    <%= yield %>
  </body>

</html>
